<header>
  <div>
    <a href="/">Página Inicial</a> | <a href="/admin">Administrador</a>  | <a href="/login">Login</a>
  </div>
  <% if(locals.subtitle){ %>
    <h2 ><%= subtitle %></h2>
   <% } %>
</header>